*.iml
.gradle/
.idea/
local.properties
.DS_Store
build/
**/build/
.externalNativeBuild/
.cxx/
.build/
third_party/CuraEngine/
app/src/main/jniLibs/
app/src/main/assets/cura/definitions/
app/src/main/assets/bumpmesh/
